<!DOCTYPE html>
<html>
  <head>
    <title>CustomTrixActions</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/@jaames/iro@5"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
